* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100vw;
  height: 100vh;
}

#app {
  background-attachment: fixed;
  background-image: linear-gradient(
    109.6deg,
    rgba(223, 234, 247, 1) 11.2%,
    rgba(244, 248, 252, 1) 91.1%
  );
  contain: content;
  overflow-y: overlay;
  overflow-x: hidden;

  &.no-overflow {
    overflow-y: hidden;
  }
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.main-controls {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
  background-color: rgb(250, 250, 250);

  box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.02),
    0 2.2px 5.3px rgba(0, 0, 0, 0.028), 0 4.1px 10px rgba(0, 0, 0, 0.035),
    0 7.4px 17.9px rgba(0, 0, 0, 0.042), 0 13.8px 33.4px rgba(0, 0, 0, 0.05),
    0 33px 80px rgba(0, 0, 0, 0.07);

  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  .color-picker {
    display: inline-block;
    position: relative;

    .verte {
      width: 128px;
      height: 128px;
      z-index: 99999999;

      .verte__guide {
        width: 100%;
        height: 100%;
        border: 3px solid #dcdcdc;
        transition: border 100ms ease-in-out;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          border: 3px solid #b4b4b4;
        }
      }

      .verte__submit {
        display: none;
      }

      .verte__model {
        width: 18px !important;
        margin-right: 8px;
        text-align: center;
        text-transform: uppercase;
      }

      .verte__controller {
        .slider {
          display: none;
        }
      }

      .verte__input {
        text-transform: uppercase;
      }

      .verte__close {
        display: none;
      }
    }
  }

  .suggested-colors {
    display: grid;
    grid-template-columns: repeat(4, 64px);
    grid-template-rows: repeat(4, 32px);
    gap: 0px;
    float: right;
    width: 256px;
    height: 128px;
    background-color: #000000;
    border-radius: 6px;
    contain: content;
    cursor: not-allowed;
    overflow-x: hidden;
    overflow-y: overlay;

    .suggested-color {
      display: inline-block;
      cursor: pointer;
      width: 64px;
      height: 32px;
      transition: transform 80ms ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .add-button {
    display: inline;
    float: right;

    width: 128px;
    height: 128px;

    border: none;
    background-color: #0dfa9f;
    color: rgb(26, 26, 26);

    cursor: pointer;

    margin-right: 8px;
    border-radius: 6px;

    transition: transform 80ms ease-in-out;

    &:hover {
      transform: scale(1.025);
    }

    &:active {
      transform: scale(0.975);
    }
  }
}

.colors {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: rgb(250, 250, 250);

  box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.02),
    0 2.2px 5.3px rgba(0, 0, 0, 0.028), 0 4.1px 10px rgba(0, 0, 0, 0.035),
    0 7.4px 17.9px rgba(0, 0, 0, 0.042), 0 13.8px 33.4px rgba(0, 0, 0, 0.05),
    0 33px 80px rgba(0, 0, 0, 0.07);

  border-radius: 6px;

  .colors-wrapper {
    margin: 0 auto;
    width: min-content;

    .colors-grid {
      display: grid;
      grid-template-columns: repeat(7, 128px);
      grid-template-rows: repeat(6, 128px);
      gap: 8px;
      margin: 0 auto;

      .color {
        display: inline;
        width: 128px;
        height: 128px;
        background-color: #0dfa9f;
        border-radius: 8px;
        position: relative;

        box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.02),
          0 2.2px 5.3px rgba(0, 0, 0, 0.028), 0 4.1px 10px rgba(0, 0, 0, 0.035),
          0 7.4px 17.9px rgba(0, 0, 0, 0.042),
          0 13.8px 33.4px rgba(0, 0, 0, 0.05), 0 33px 80px rgba(0, 0, 0, 0.07);

        .color-hex {
          position: absolute;
          bottom: 4px;
          left: 4px;

          font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
        }

        .btn {
          display: inline;
          color: #fafafa;
          background-color: #0e0e0e;
          border: 0;

          padding: 4px;
          border-radius: 50%;
          width: 28px;
          height: 28px;

          position: absolute;
          right: 4px;

          cursor: pointer;

          svg {
            width: 20px;
            height: 20px;
          }
        }

        .remove {
          top: 4px;

          &:hover {
            background-color: #be0000;
          }
        }

        .pick-color {
          top: 36px;

          &:hover {
            background-color: #1cbe00;
          }
        }

        .select {
          bottom: 4px;

          &:hover,
          &.active {
            background-color: #00beb4;
          }
        }
      }
    }
  }
}

.import-and-export {
  display: inline;
  float: right;
  width: 128px;
  height: 128px;
  margin-right: 8px;

  .btn {
    display: flex;
    width: 128px;
    height: 62px;

    border: 0;
    border-radius: 8px;

    color: rgb(255, 255, 255);
    cursor: pointer;

    transition: transform 80ms ease-in-out;

    &:hover {
      transform: scale(1.025);
    }

    &:active {
      transform: scale(0.975);
    }

    .button-container {
      width: 128px;
      height: 62px;
      display: flex;
      align-items: center;
      justify-content: center;

      z-index: 999;
    }

    svg {
      width: 30px;
      height: 30px;
    }

    p {
      margin-left: 4px;
      font-size: 14px;
    }
  }

  .export-button {
    margin-bottom: 4px;
    background-color: #6fc2a6;
  }

  .import-button {
    background-color: #00beb4;
  }
}

[tooltip] {
  position: relative;
  &:after {
    content: attr(tooltip);
    position: absolute;
    bottom: -28px;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
    transition: all 100ms ease-in-out;
    color: rgb(250, 250, 250);
    background-color: #00000093;
    width: max-content;
    padding: 4px;
    border-radius: 8px;
    pointer-events: none;
    max-height: 16px;
    z-index: 9999999 !important;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  &:hover {
    &:after {
      position: absolute;
      bottom: -28px;
      left: 50%;
      opacity: 1;
      transform: translateX(-50%) translateY(0px);
      color: rgb(250, 250, 250);
      background-color: #00000093;
      width: max-content;
      max-height: 16px;
      padding: 4px;
      border-radius: 8px;
    }
  }
}

.dialogs {
  position: absolute;
  top: 0;
  height: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999999999;
  transition: background-color 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-color: #00000000;
  pointer-events: none;

  &.active {
    background-color: #00000088;
    pointer-events: all;
  }

  .dialog {
    position: absolute;
    top: -600px;
    left: 50%;
    width: 50vw;
    height: 512px;
    background-color: whitesmoke;
    transform: translateX(-50%) translateY(-50%);
    padding: 8px;
    border-radius: 8px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    transition: top 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &.active {
      top: 50%;
    }

    .close {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 24px;
      height: 24px;
      background-color: white;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.045),
        0 6.7px 5.3px rgba(0, 0, 0, 0.065), 0 12.5px 10px rgba(0, 0, 0, 0.08),
        0 22.3px 17.9px rgba(0, 0, 0, 0.095),
        0 41.8px 33.4px rgba(0, 0, 0, 0.115), 0 100px 80px rgba(0, 0, 0, 0.16);

      transition: all 300ms ease-in-out;

      &:hover {
        background-color: rgb(250, 250, 250);
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.082),
          0 6.7px 5.3px rgba(0, 0, 0, 0.123), 0 12.5px 10px rgba(0, 0, 0, 0.15),
          0 22.3px 17.9px rgba(0, 0, 0, 0.137),
          0 41.8px 33.4px rgba(0, 0, 0, 0.171), 0 100px 80px rgba(0, 0, 0, 0.13);
      }

      svg {
        width: 22px;
        height: 22px;
      }
    }
  }
}
