* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
#app {
  width: 100vw;
  height: 100vh;
}

#app {
  background-attachment: fixed;
  background-image: linear-gradient(109.6deg, #dfeaf7 11.2%, #f4f8fc 91.1%);
  contain: content;
  overflow: auto;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.main-controls {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.02), 0 2.2px 5.3px rgba(0, 0, 0, 0.028), 0 4.1px 10px rgba(0, 0, 0, 0.035), 0 7.4px 17.9px rgba(0, 0, 0, 0.042), 0 13.8px 33.4px rgba(0, 0, 0, 0.05), 0 33px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.02), 0 2.2px 5.3px rgba(0, 0, 0, 0.028), 0 4.1px 10px rgba(0, 0, 0, 0.035), 0 7.4px 17.9px rgba(0, 0, 0, 0.042), 0 13.8px 33.4px rgba(0, 0, 0, 0.05), 0 33px 80px rgba(0, 0, 0, 0.07);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.main-controls .color-picker {
  display: inline-block;
  position: relative;
}

.main-controls .color-picker .verte {
  width: 128px;
  height: 128px;
}

.main-controls .color-picker .verte .verte__guide {
  width: 100%;
  height: 100%;
  border: 3px solid #dcdcdc;
  -webkit-transition: border 100ms ease-in-out;
  transition: border 100ms ease-in-out;
  border-radius: 50%;
  cursor: pointer;
}

.main-controls .color-picker .verte .verte__guide:hover {
  border: 3px solid #b4b4b4;
}

.main-controls .suggested-colors {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (64px)[4];
      grid-template-columns: repeat(4, 64px);
  -ms-grid-rows: (32px)[4];
      grid-template-rows: repeat(4, 32px);
  gap: 0px;
  float: right;
  width: 256px;
  height: 128px;
  background-color: #000000;
  border-radius: 6px;
  contain: content;
  cursor: not-allowed;
}

.main-controls .suggested-colors .suggested-color {
  display: inline-block;
  cursor: pointer;
  width: 64px;
  height: 32px;
  -webkit-transition: -webkit-transform 80ms ease-in-out;
  transition: -webkit-transform 80ms ease-in-out;
  transition: transform 80ms ease-in-out;
  transition: transform 80ms ease-in-out, -webkit-transform 80ms ease-in-out;
}

.main-controls .suggested-colors .suggested-color:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main-controls .add-button {
  display: inline;
  float: right;
  width: 128px;
  height: 128px;
  border: none;
  background-color: #0dfa9f;
  color: #1a1a1a;
  cursor: pointer;
  margin-right: 8px;
  border-radius: 6px;
  -webkit-transition: -webkit-transform 80ms ease-in-out;
  transition: -webkit-transform 80ms ease-in-out;
  transition: transform 80ms ease-in-out;
  transition: transform 80ms ease-in-out, -webkit-transform 80ms ease-in-out;
}

.main-controls .add-button:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.main-controls .add-button:active {
  -webkit-transform: scale(0.975);
          transform: scale(0.975);
}

.colors {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.02), 0 2.2px 5.3px rgba(0, 0, 0, 0.028), 0 4.1px 10px rgba(0, 0, 0, 0.035), 0 7.4px 17.9px rgba(0, 0, 0, 0.042), 0 13.8px 33.4px rgba(0, 0, 0, 0.05), 0 33px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.02), 0 2.2px 5.3px rgba(0, 0, 0, 0.028), 0 4.1px 10px rgba(0, 0, 0, 0.035), 0 7.4px 17.9px rgba(0, 0, 0, 0.042), 0 13.8px 33.4px rgba(0, 0, 0, 0.05), 0 33px 80px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.colors .colors-wrapper {
  margin: 0 auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.colors .colors-wrapper .colors-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (128px)[7];
      grid-template-columns: repeat(7, 128px);
  -ms-grid-rows: (128px)[6];
      grid-template-rows: repeat(6, 128px);
  gap: 8px;
  margin: 0 auto;
}

.colors .colors-wrapper .colors-grid .color {
  display: inline;
  width: 128px;
  height: 128px;
  background-color: #0dfa9f;
  border-radius: 8px;
  position: relative;
  -webkit-box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.02), 0 2.2px 5.3px rgba(0, 0, 0, 0.028), 0 4.1px 10px rgba(0, 0, 0, 0.035), 0 7.4px 17.9px rgba(0, 0, 0, 0.042), 0 13.8px 33.4px rgba(0, 0, 0, 0.05), 0 33px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.02), 0 2.2px 5.3px rgba(0, 0, 0, 0.028), 0 4.1px 10px rgba(0, 0, 0, 0.035), 0 7.4px 17.9px rgba(0, 0, 0, 0.042), 0 13.8px 33.4px rgba(0, 0, 0, 0.05), 0 33px 80px rgba(0, 0, 0, 0.07);
}

.colors .colors-wrapper .colors-grid .color.selected {
  -webkit-box-shadow: 0 0.9px 2.2px rgba(94, 255, 0, 0.02), 0 2.2px 5.3px rgba(94, 255, 0, 0.028), 0 4.1px 10px rgba(94, 255, 0, 0.035), 0 7.4px 17.9px rgba(94, 255, 0, 0.042), 0 13.8px 33.4px rgba(94, 255, 0, 0.05), 0 33px 80px rgba(94, 255, 0, 0.07);
          box-shadow: 0 0.9px 2.2px rgba(94, 255, 0, 0.02), 0 2.2px 5.3px rgba(94, 255, 0, 0.028), 0 4.1px 10px rgba(94, 255, 0, 0.035), 0 7.4px 17.9px rgba(94, 255, 0, 0.042), 0 13.8px 33.4px rgba(94, 255, 0, 0.05), 0 33px 80px rgba(94, 255, 0, 0.07);
}

.colors .colors-wrapper .colors-grid .color .color-hex {
  position: absolute;
  bottom: 4px;
  left: 4px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.colors .colors-wrapper .colors-grid .color .btn {
  display: inline;
  color: #fafafa;
  background-color: #0e0e0e;
  border: 0;
  padding: 4px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 4px;
  cursor: pointer;
}

.colors .colors-wrapper .colors-grid .color .btn svg {
  width: 20px;
  height: 20px;
}

.colors .colors-wrapper .colors-grid .color .remove {
  top: 4px;
}

.colors .colors-wrapper .colors-grid .color .remove:hover {
  background-color: #be0000;
}

.colors .colors-wrapper .colors-grid .color .pick-color {
  top: 36px;
}

.colors .colors-wrapper .colors-grid .color .pick-color:hover {
  background-color: #1cbe00;
}

.colors .colors-wrapper .colors-grid .color .select {
  bottom: 4px;
}

.colors .colors-wrapper .colors-grid .color .select:hover, .colors .colors-wrapper .colors-grid .color .select.active {
  background-color: #00beb4;
}
/*# sourceMappingURL=style.css.map */